*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #FAFAFA;
}

.app__headerWrapper{
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  z-index: 5;
}

.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  width: 80%;
  margin: auto;
  top: 0;
}

.app__auth{
  display: flex;
  align-items: center;
}

.header__img {
  width: 150px;
}

.header__img, .auth__img{
  object-fit: contain;
}

.post {
  max-width: 100%;
  margin: 20px;
  border: 1px solid lightgray;
}

.post__head{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.post__head h4 {
  padding-left: 10px;
}

.post__img{
  object-fit: contain;
  width: 100%;
}

.post__caption{
  padding: 20px ;
}

/* Authentication ui styling */
.auth__img{
  width: 30% ;
}

/* Upload UI Styling */
.app__content{
  display: flex;
  /* justify-content: space-between; */
  margin: auto;
  padding-top: 125px;
  max-width: 80%;
}

.app__right{
  width: 70%;
}

.app__leftWrapper{
  position: fixed;
  right: 16%;
  margin: 20px;
}

.app__left{
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 10%;
  margin: 20px;
  align-items: center;
}

.app__leftInner{
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.app__leftInner h2, h2{
  background-color: lightgray;
  border-radius: 50%;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
}

.app__leftInner p {
  padding-left: 10px;
  font-weight: 600;
}

.app__leftInner small{
  font-size: 10px;
  padding-left: 10px;
  color: rgb(128, 126, 126);
}

.upload__contents{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
  
  /* position: absolute; */
  bottom: 20px;
}

.upload__progress{
  width: 100%;
}

.suggestions{
  margin-top: 90px;
}

.suggestions p {
  color: rgb(133, 157, 157);
  font-weight: 700;
}

.suggestions small {
  font-weight: 10px;
}

@media screen and (max-width: 980px){
  .app__content{
    display: block;
  }
  .app__left {
    display: none;
  }

  .app__right{
    width: 100%;
  }
}